*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
background: #171717;
}

.header{
margin-top: 40px;
}

.conteiner{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 10px;
}

.header_style{
display: flex;
justify-content: space-between;
align-items: center;
}

.item_list{
  border: #E4B564 1px solid;
  padding: 10px 25px;
}

.items{
padding-left: 8px;
}

a {
color: #E4B564;
font-family: Ballet;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}


.section{
margin-top: 90px;
margin-bottom: 161px;;
}


.title__section{
  color: #FFF;
  font-family: Gilam;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 56% */
}

.text__section{
  max-width: 1160px;
  margin-bottom: 41px;
  margin-top: 20px;
  color: #FFF;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */

}

.grid__section{
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 219px);
gap: 20px;

grid-template-areas: 
"item1 item1 item2 item2 item3 item3"
"item1 item1 item2 item2 item3 item3"
"item4 item4 item4 item5 item5 item5"
"item4 item4 item4 item5 item5 item5"
;
}

.text__grid{
color: #FFF;
text-align: center;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
display: grid;
justify-content: center;
align-items: center;
}


.box1{
background: #634F2C;
grid-area: item1;
border: #E4B564 1px solid;
}

.box2{
background: #B4A385;
grid-area: item2;
border: #E4B564 1px solid;
}

.box3{
background: #E4B564;
grid-area: item3;
border: #E4B564 1px solid;
}

.box4{
background: #635A4A;
grid-area: item4;
border: #E4B564 1px solid;
}

.box5{
background: #B08C4D;
grid-area: item5;
border: #E4B564 1px solid;
}

.main{
margin-bottom: 191px;
}

.title_main{
margin-bottom: 94px;
color: #FFF;
font-family: Gilam;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 56% */
}

.wrapper_grid{
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(10, 3.71875em);
gap: 20px;

grid-template-areas: 
"box1 box1 box2 box2 box3 box3"
"box1 box1 box2 box2 box3 box3"
"box1 box1 box2 box2 box3 box3"
"box1 box1 box2 box2 box6 box6"
"box4 box4 box2 box2 box6 box6"
"box4 box4 box5 box5 box6 box6"
"box4 box4 box5 box5 box6 box6"
"box4 box4 box5 box5 box7 box7"
"box4 box4 box5 box5 box7 box7"
"box4 box4 box5 box5 box7 box7"
;

}

.grid-box{
padding: 30px;
background-color: aqua;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.grid-style{
color: #000;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.item-box1{
grid-area: box1;
background: #0E0E0E;
border: #E4B564 1px solid;
}

.item-box2{
grid-area: box2;
background: #242424;
border: #E4B564 1px solid;
}

.item-box3{
grid-area: box3;
background: #1F1F1F;
border: #E4B564 1px solid;
}

.item-box4{
grid-area: box4;
background: #1F1F1F;
border: #E4B564 1px solid;
}
    
.item-box5{
grid-area: box5;
background: #E4B564;
border: #E4B564 1px solid;
}    
.item-box6{
grid-area: box6;
background: #0E0E0E;
border: #E4B564 1px solid;
}    
.item-box7{
grid-area: box7;
background: #0A0909;
border: #E4B564 1px solid;
}    


.footer{
  background: #0E0E0E;
  margin-bottom: 200px;
}

.footer_top{
height: 161px;
}

.style_footer{
display: flex;
justify-content: space-between;
margin-bottom: 72px;
}

.title_footer{
color: #FFF;
font-family: Gilam;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 56% */
}

.itemss{
padding: 10px 40px;
border: #E4B564 1px solid;
color: #E4B564;
font-family: Ballet;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.wrapper_flex{
  display: flex;
  flex-wrap: wrap;
}

.text-p{
display: block;
text-align: center;
}

p {
padding-top: 10px;
color: #FFF;
font-family: Gilam;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 127.273% */
}

.style_ico{
padding-bottom: 5px;  
}

.flex-box{
display: flex;
width: 486px;
height: 391px;
justify-content: center;
align-items: center;
}

.box1-item{
background: #634F2C;
}

.box2-item{
flex-direction: column;
background: rgba(232, 210, 171, 0.76);
}

.box3-item{
background: #E4B564;
}

.box4-item{
flex-direction: column;
background: #635A4A;
}

.box5-item{
background: #B08C4D;
}

.box6-item{
background: #634F2C;
}

